@media (max-width: 1500px) {
	.main-nav li a {
		padding: 13px 10px;
	}
	.main-nav {
		padding: 0 75px;
	}
}
@media (max-width: 1360px) {
	.main-nav {
		padding: 0 10px;
	}
	.main-full-width {
		padding: 0 20px;
	}
}
@media (max-width: 1240px) {
	.main-nav li a {
		padding: 10px 8px;
		font-size: 10px;
	}
	
}