@media (max-width: 1500px) {
	.main-nav li a {
		padding: 13px 10px;
	}
	.main-nav {
		padding: 0 75px;
	}
}
@media (max-width: 1360px) {
	.main-nav {
		padding: 0 10px;
	}
	.main-full-width {
		padding: 0 20px;
	}
}
@media (max-width: 1240px) {
	.main-nav li a {
		padding: 10px 8px;
		font-size: 10px;
	}
	
}

@media (max-width: 1025px) {
	.navbar-toggle {
		display: block;
	}
	.main-nav {
		&.collapse {
			display: none !important;
			&.in {
				display: block !important;
			}
		}
	}
	.top-links {
		padding-right: 78px;
	}
	.navbar-toggle {
		position: absolute;
		top: 10px;
		right: 10px;
		margin: 0;
		top: 22px;
		right: 20px;
		background: #623509;
	}
	.nav-justif li {
		display: block;
	}
	.main-nav {
		padding: 0;
		ul {
			padding: 10px 0;
		}
	}
	.main-nav li a {
		padding: 10px 15px;
	}
}
@media (min-width: 768px) and (max-width: 1000px) {
	.top-links {
		width: 60%;
	}
	.top-header .social-icons {
		width: 20%;
	}
}
@media (max-width: 767px) {
	.top-links {
	    float: none;
	    margin: 0 0 10px 0;
	    padding: 0;
	    text-align: center;
	    width: 100%;
	}
	.top-links a {
		padding-left: 10px;
		padding-right: 10px;
	}
	.navbar-toggle {
		right: 10px;
		top: 12px;
	}
	.main-full-width {
		padding: 0 15px;
	}
	.navbar-brand > img {
		display: block;
		width: 100%;
	}
	.logo {
		float: none;
		left: 50%;
		/*margin-left: -43px;*/
		margin-left: -65px;
		position: absolute;
		top: 6px;
		width: 130px;
	}
	.social-icons {
		margin: 14px 0;
	}
	.navbar-brand {
		padding: 10px 0;
	}
}
@media (max-width: 370px) {
	.logo {
		margin-left: -43px;
	}
}